In [3]:
import pandas as pd 
var = pd.DataFrame({"a":[1,2,3],"b":[4,5,6]})
print(var)

   a  b
0  1  4
1  2  5
2  3  6

In [27]:
var["c"] = var["a"]+var["b"]
var["d"] = abs(var["b"]-var["c"]) # using abs to get all positive output
var["e"] = var["c"]*var["d"]
# var["f"] = var["d"]//var["e"]
print(var)

   a  b  c  d   e  f
0  1  4  5  1   5  0
1  2  5  7  2  14  0
2  3  6  9  3  27  0

In [33]:
var["checka"] = var["e"] <= 9
var

   a  b  c  d   e  f  checka
0  1  4  5  1   5  0    True
1  2  5  7  2  14  0   False
2  3  6  9  3  27  0   False