In [51]:
import pandas as pd 
var1 =pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2 =pd.DataFrame({"A":[1,2,3,4],"B1":[41,32,23,14]})
# var2 =pd.DataFrame({"A":[1,2,3,5],"B":[41,32,23,14]})
# var2 =pd.DataFrame({"A":[1,2,3,5],"C":[41,32,23,14]}) new DF is gonna be 3 left one uncommon
# pd.merge(var2,var1,on="A") both are same
pd.merge(var1,var2)
# pd.merge(var2,var1,left_index=True,right_index=True)
# pd.merge(var2,var1,left_index=True,right_index=True,suffixes=("name","id"))
# pd.merge(var1,var2,how="outer",indicator=True)
# pd.merge(var1,var2,how="outer)
# pd.merge(var1,var2,how="left")
# pd.merge(var1,var2,how="right")
# print(type(var1))

   A   B  B1
0  1  11  41
1  2  12  32
2  3  13  23
3  4  14  14

# Concat

In [31]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,22,33,44])
# print(type(sr1))
# sr1
pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    11
1    22
2    33
3    44
dtype: int64

In [65]:
d1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
# d2 = pd.DataFrame({"A":[1,2,3,4],"B":[41,32,23,14]})
d2 = pd.DataFrame({"A":[1,2],"B":[41,32]})
# d2 = pd.DataFrame({"A":[1,2,3,4],"C":[41,32,23,14]})
# pd.concat([d1,d2])
# pd.concat([d1,d2],axis=1,join="inner")
# pd.concat([d1,d2],axis=1,join="outer")
pd.concat([d1,d2],axis=1,keys=["d1","d2"])
# pd.concat([d1,d2],axis=1)
# pd.concat([d1,d2],axis=0)

  d1       d2
   A   B    A     B
0  1  11  1.0  41.0
1  2  12  2.0  32.0
2  3  13  NaN   NaN
3  4  14  NaN   NaN