# Insert

In [2]:
import pandas as pd 
var = pd.DataFrame({"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]})
print(var)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
var.insert(1,"python",var["a"]) # the new data length must be equal
print(var)

   a  python  b  c
0  1       1  4  7
1  2       2  5  8
2  3       3  6  9

In [12]:
var.insert(1,"python_1",[11,22,33]) # the new data length must be equal
print(var)

   a  python_1  python  b  c
0  1        11       1  4  7
1  2        22       2  5  8
2  3        33       3  6  9

In [16]:
var.insert(1,"py",var["a"][:1])
print(var)

   a   py  python_1  python  b  c
0  1  1.0        11       1  4  7
1  2  NaN        22       2  5  8
2  3  NaN        33       3  6  9

# Delete

In [27]:
var = pd.DataFrame({"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]})
var.pop("b")
print(var)

   a  c
0  1  7
1  2  8
2  3  9

In [29]:
del var["a"]
print(var)

   c
0  7
1  8
2  9